.item{
	width: 50%;
	height: 50px;
}
.item:nth-child(2n){
	background-color: #c3272b;
}

.item:nth-child(2n+1){
	background-color: #177cb0;
}

.item-drag{
	transform: translate(-20px,0);
}
.item-drop{
transform: translate(-10px,0);
}